<div class="about-section paddingTB60 gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6">
        <div class="about-title clearfix">
          <h1>About <span>Plan A Trip</span></h1>
          <h3>We're commited to our work</h3>
          <p class="about-paddingB">
            Plan a trip is a idea to bring best and convinient travel plan for people who are fond of travelling.
            Our clients are our main priority.
            We make a best travel plan for you. Our travel plans is according to your needs only.
            Just don't compromise on your dreams of travelling.
          </p>
          <p>
            “The world is a book and those who do not travel read only one page.”
          </p>
          <p>
            ~ Saint Augustine
          </p>
          <p>
            “Traveling – it leaves you speechless, then turns you into a storyteller.” 
          </p>
          <p>– Ibn Battuta</p>

          <p>“Stop worrying about the potholes in the road and enjoy the journey” 
        </p>
        <p>~ Babs Hoffman</p>
          
        </div>
      </div>
     
    </div>
  </div>
</div>


