<div class="container my-4">
    <h2>Rules and Regulations:</h2>
    <div class="card my-4">
        <div class="card-header">
          The Booking:
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>A contract exists between us when we have confirmed you on our tour of your choice and we have received your signed booking form and deposits. All the relevant section must be correctly and fully completed. We can only accept booking form signed as this confirms that you and other people on the tour accept our booking terms and condition and are entering into the contract.</p>
            
          </blockquote>
        </div>
      </div>

      <div class="card my-4">
        <div class="card-header">
          Deposit:
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Upon completion of the signed booking form a deposit of 50% of the tour cost per person, be paid to the company.</p>
            
          </blockquote>
        </div>
      </div>


      <div class="card my-4">
        <div class="card-header">
            Payments:
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>For the services contracted, 50% advance payment should be made to hold the booking on a confirmed basis and the balance amount can be paid at least 7 days prior to your date of departure from your country. We hold the right to decide upon the amount to be paid as an advance payment, based on the nature of services and the time left for the commencement of the services. Apart from the above in some cases like special train journeys, hotel or resort bookings during the peak season (X-Mas, New Year) full payment is required to be sent in advance</p>
            
          </blockquote>
        </div>
      </div>


      <div class="card my-4">
        <div class="card-header">
            Cancellation:
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>In case of cancellation of trip you have to tell us 7 days prior to get refund of your payment.</p>
            
          </blockquote>
        </div>
      </div>
</div>